  
body{
	background: black;
}
section{
    display: inline-flex;
}
.postcard {
	background: white;
	width: 450px;
	height: 350px;
    margin: auto;
    display: block;
}
.header{
    width: 450px;display: inline;
}
img {
    width: 60px; height: auto; margin: 20px;float: right;
}
h1{
    float: left;margin-top: 40px; margin-left: 20px;font-family: 'Gochi Hand', cursive;font-size: 30px;
}
.cuerpo{
    margin: 0px 15px; font-family: 'Gochi Hand', cursive;
}
input{
  border-top: 0px none;
  border-right: 0px none;
  border-bottom: 1px solid gray;
  border-left: 0px none;
  margin: 10px;
  width: 150px;
  font-size: 17px;
  font-family: 'Gochi Hand', cursive;
}
button{
  margin:auto;
  display:block;
  font-family: 'Covered By Your Grace', cursive;
}
p{
    font-size: 15px;
}