  
body {
	background: black;
}
section{
    display: inline-flex;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
    margin: auto;
    display: block;
}
.header{
    width: 400px;display: inline;
}
img {
    width: 60px; height: auto; margin: 20px;float: right;
}
h1{
    float: left;margin-top: 40px; margin-left: 20px;font-family: 'Indie Flower', cursive;
}
.cuerpo, p{
    margin: 15px;font-family: 'Coming Soon', cursive;; padding-left: 10px;
}
input{
border-top: 0px none;
  border-right: 0px none;
  border-bottom: 1px solid gray;
  border-left: 0px none;
  margin: 10px;
}
button{
  margin:auto;
  display:block;
}